# Analyzing Stock Prices

In this project, we'll look at more than 10 years of stock market data from Yahoo Finance for a few hundred different stocks that are traded on the NASDAQ stock exchange.

## Introduction to the Data

Some of the data we'll be working with can be found in this repository under the `prices` folder. The `download_data.py` script can be used to download all of the stock price data. Each file is named for each specific stock symbol, and the data within contains the following:

* date – when the data is from
* close – closing price on the date
* open – opening price on the date
* high – highest price reached on the date
* low – lowest price reached on the date
* volume – number of shares traded on the date

We'll import the data and take a look at what the first few rows of the files look like.

In [1]:
import pandas as pd
import os

stock_prices = {}

for file_name in os.listdir('prices'):
    name = file_name.split('.')[0] # Removing the file extension from the name
    stock_prices[name] = pd.read_csv(os.path.join('prices', file_name))
    
stock_prices['fizz'].head()

         date      close       open       high        low  volume
0  2007-01-03  13.689997  14.100001  14.100001  13.400004  264400
1  2007-01-04  13.460005  13.689997  13.689997  13.400004  122700
2  2007-01-05  13.170001  13.389996  13.940004  13.130005   86500
3  2007-01-08  12.720001  12.999997  13.089996  12.699997  109500
4  2007-01-09  12.759997  12.699997  12.900001  12.549997   48600

## Average Closing Price

In [2]:
average_closing = {}

for stock in stock_prices:
    average_closing[stock] = stock_prices[stock]['close'].mean()

## Most Traded Stock for Each Day

In [3]:
trades_each_day = {}

for stock in stock_prices:
    for index, row in stock_prices[stock].iterrows():
        day = row['date']
        volume = row['volume']
        pair = (volume, stock)
        if day not in trades_each_day:
            trades_each_day[day] = []
        trades_each_day[day].append(pair)
        
most_traded = {}

for day in trades_each_day:
    trades_each_day[day].sort()
    most_traded[day] = trades_each_day[day][-1]

In [15]:
print(most_traded['2007-05-25'])
print(most_traded['2007-06-01'])
print(most_traded['2009-06-08'])

(158239900, 'aapl')
(221315500, 'aapl')
(232913100, 'aapl')

## Searching for High Volume Trading Days

## Conclusion & Next Steps

In this project we analyzed stock prices.

The idea for this project comes from the [DATAQUEST](https://app.dataquest.io/) **Algorithms and Data Structures** course.