# Building a Database for Crime Reports

In this project, we'll build a database to store data on crimes that have occurred in Boston. We'll look at managing database roles, creating database schemas and tables with proper datatypes, and loading data from CSV files into database tables.

To start, we'll create a database named ***crimes_db*** containing a table inside called ***boston_crimes*** that will contain the properly formatted data from our csv file. Then we'll create a table inside a schema named ***crimes***. Next, we'll create our `readonly` and `readwrite` groups with the appropriate privileges. Lastly, we'll create a user for each of these groups.

## Introduction to the Data

The dataset we're using for this project can be found in this repository as `boston.csv`. Here are the first few rows to get a better idea for the data we're working with.

In [3]:
import pandas as pd

boston = pd.read_csv('boston.csv')
boston.head()

,incident_number,offense_code,description,date,day_of_the_week,lat,long
0,1,619,LARCENY ALL OTHERS,2018-09-02,Sunday,42.357791,-71.139371
1,2,1402,VANDALISM,2018-08-21,Tuesday,42.306821,-71.060300
2,3,3410,TOWED MOTOR VEHICLE,2018-09-03,Monday,42.346589,-71.072429
3,4,3114,INVESTIGATE PROPERTY,2018-09-03,Monday,42.334182,-71.078664
4,5,3114,INVESTIGATE PROPERTY,2018-09-03,Monday,42.275365,-71.090361

`incident_number` identifier of the committed crime

`offense_code` numeric identifier code for the committed crime

`description` description of the crime committed

`date` date crime occurred in yyyy-mm-dd format

`day_of_the_week` corresponding day of the week crime occurred

`lat` latitude location where the crime occurred

`long` longitude location where the crime occurred

In [ ]:
imoprt psycopg2

conn = psycopg2.connect(dbname=, user=)
conn.autocommit = True
cur = conn.cursor()
cur.execute("CREATE DATABASE crime_db;")
conn.close()

## Creating the Crime Database